/* Page1.module.css */
/* Statistics Outer Container */
.statistics_outer_container {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;

  /* Margin Bottom */
  margin-bottom: 50px;

  /* Transition */
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 1;
  transform: translateZ(0);
}

/* Page1.module.css */
/* Statistics Container */
.statistics_container {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;

  /* Container Width */
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

  /* Centering the container */
  margin-right: auto;
  margin-left: auto;

  /* Maximum Width */
  max-width: 1140px;
}

/* Page1.module.css */
/* Statistics */
.statistics {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;

  /* Flexbox for layout */
  display: flex;
  flex-wrap: wrap;

  /* Margins for spacing */
  margin-right: -15px;
  margin-left: -15px;
}

/* Page1.module.css */
/* Statistics Item */
.statistics_item {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;

  /* Flexbox and layout */
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 100%;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: center;
  text-align: left;

  /* Bottom margin */
  margin-bottom: 0;
}

/* Page1.module.css */
/* Statistics Item Value */
.statistics_item_value {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  -webkit-locale: auto;
  white-space: normal;
  text-align: left;
  box-sizing: inherit;
  font-size: 60px;
  line-height: 1.16;
  color: var(--bs-blue);
  font-weight: 700;
  margin-bottom: 0;
  margin-right: 24px;
}
/* Page1.module.css */
/* Statistics Item Text */
.statistics_item_text {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  -webkit-locale: auto;
  white-space: normal;
  text-align: left;
  box-sizing: inherit;
  font-size: 16px;
  line-height: 1.3125;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
}

/* Page1.module.css */
/* Statistics Item Number */
.statistics_item_number {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  -webkit-locale: auto;
  white-space: normal;
  text-align: left;
  font-size: 60px;
  line-height: 1.16;
  color: var(--bs-blue);
  font-weight: 700;
  box-sizing: inherit;
}

