/* sponsors section styles */
.sponsors_section {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;
  margin-bottom: 50px;
  margin-top: 50px;
}

/* sponsors inner container styles */
.sponsors_inner_container {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

/* sponsors-list.css */

/* General styling for the sponsor list */
.sponsors_list {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  box-sizing: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -98px;
}
.sponsors_item {
  text-size-adjust: 100%;
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.625;
  color: #787878;
  font-weight: 400;
  -webkit-locale: auto;
  white-space: normal;
  list-style: none;
  box-sizing: inherit;
  text-align: center;
  align-self: center;
  margin-top: 98px;
  width: 20%; /* Set each sponsor item to 20% width */
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: ease;
  opacity: 1;
  transform: translateZ(0); /* Prevent flickering by using GPU acceleration */
}

